service: slackBotTest

plugins:
    - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-2

functions:
   app:
    handler: index.handler
    environment:
        ${file(env.yml):dev}
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'