service: slackBotTest

plugins:
    - serverless-offline

custom:
  recordsTable: 'records-${self:provider.stage}'

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["RecordsDynamoDBTable", "Arn" ] }
  environment:
    RECORDS_TABLE: ${self:custom.recordsTable}

functions:
   app:
    handler: index.handler
    environment:
        ${file(env.yml):dev}
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'

resources:
  Resources:
    RecordsDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: recordId
            AttributeType: S
        KeySchema:
          -
            AttributeName: recordId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:custom.recordsTable}